-- AlterTable
ALTER TABLE "AttendanceRecord" ADD COLUMN     "backboneVersion" TEXT,
ADD COLUMN     "classifierVersion" TEXT,
ADD COLUMN     "cropImageUrl" TEXT,
ADD COLUMN     "embeddingVector" JSONB;

-- AlterTable
ALTER TABLE "AttendanceSession" ADD COLUMN     "backboneVersion" TEXT,
ADD COLUMN     "classifierVersion" TEXT,
ADD COLUMN     "deviceId" TEXT,
ADD COLUMN     "isOfflineSync" BOOLEAN NOT NULL DEFAULT false;

-- AlterTable
ALTER TABLE "MealSession" ADD COLUMN     "detectorVersion" TEXT,
ADD COLUMN     "deviceId" TEXT,
ADD COLUMN     "isOfflineSync" BOOLEAN NOT NULL DEFAULT false;

-- CreateTable
CREATE TABLE "AttendanceCropImage" (
    "id" TEXT NOT NULL,
    "attendanceSessionId" TEXT NOT NULL,
    "studentId" TEXT,
    "imageUrl" TEXT NOT NULL,
    "embeddingVector" JSONB NOT NULL,
    "backboneVersion" TEXT NOT NULL,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "capturedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AttendanceCropImage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ModelAsset" (
    "id" TEXT NOT NULL,
    "backboneVersion" TEXT NOT NULL,
    "classifierVersion" TEXT NOT NULL,
    "sectionId" TEXT NOT NULL,
    "backboneUrl" TEXT NOT NULL,
    "classifierUrl" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT false,
    "trainedAt" TIMESTAMP(3) NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ModelAsset_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "AttendanceCropImage_attendanceSessionId_idx" ON "AttendanceCropImage"("attendanceSessionId");

-- CreateIndex
CREATE INDEX "AttendanceCropImage_studentId_idx" ON "AttendanceCropImage"("studentId");

-- CreateIndex
CREATE INDEX "ModelAsset_sectionId_idx" ON "ModelAsset"("sectionId");

-- CreateIndex
CREATE INDEX "ModelAsset_sectionId_isActive_idx" ON "ModelAsset"("sectionId", "isActive");

-- AddForeignKey
ALTER TABLE "AttendanceCropImage" ADD CONSTRAINT "AttendanceCropImage_attendanceSessionId_fkey" FOREIGN KEY ("attendanceSessionId") REFERENCES "AttendanceSession"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AttendanceCropImage" ADD CONSTRAINT "AttendanceCropImage_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ModelAsset" ADD CONSTRAINT "ModelAsset_sectionId_fkey" FOREIGN KEY ("sectionId") REFERENCES "Section"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

